<h3>Dogs breeds</h3>

<form>
    <div class="form-group">
        <label for="breedsSelect">Select a breed: </label>
        <select class="form-control" [(ngModel)]="selectedBreed" name="breedsSelect" id="breedsSelect">
            <option *ngFor="let breed of breeds" [ngValue]="breed">
            {{breed}}
            </option> 
        </select>
        <div  *ngIf="error" class="label text-danger">
            {{error}}
        </div>
    </div>            
    <div>
        <button class="btn btn-primary" type="button" (click)="onSubmit()">Submit</button>
    </div>      
</form>

<div class="row pt-2">
    <div class="col-12">
        <div  id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let image of images let i = index"
                [ngClass]="{'active': i == 0 }">
                <img [src]="image" class="d-block w-100">
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>




