<h3>Todo List</h3>

<form [formGroup]="todoForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="form-group">
    <label for="taskName">Task</label>
    <input type="text" class="form-control" id="taskName" placeholder="Name or description" #taskName
        formControlName="taskName" name="taskName" >
    <div *ngIf="submitted && todoForm.controls.taskName.errors" class="invalid-feedback d-block" >
        <div *ngIf="todoForm.controls.taskName.errors.required">Task is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input type="text"  class="form-control" id="date" placeholder="MM/DD/YYYY"
        formControlName="date" name="date">
        <div *ngIf="submitted && todoForm.controls.date.errors" class="invalid-feedback d-block" >
          <div *ngIf="todoForm.controls.date.errors.required">Date is required</div>
          <div *ngIf="todoForm.controls.date.errors.invalidDate">Date is invalid</div>
      </div>
  </div>

  <button class="button" type="submit">Add</button>
</form>

<div class="pt-3">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Todo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskList let i = index">
        <th scope="row">{{i}}</th>
        <td>{{task.date}}</td>
        <td>{{task.taskName}}</td>
      </tr>       
    </tbody>
  </table>
</div>
  